@font-face {
	font-family: 'RobotoMono';
	src: url('fonts/RobotoMono-VariableFont_wght.eot');
	src: local('☺'), url('fonts/RobotoMono-VariableFont_wght.woff') format('woff'), url('fonts/RobotoMono-VariableFont_wght.ttf') format('truetype'), url('fonts/RobotoMono-VariableFont_wght.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
html, body {
 	overflow: hidden;
 	height: 100%;
 	width: 100%;
 	font-family: "Avenir", sans-serif;
 	position: relative;
}
#border {
	width: 86%;
	height: 75%;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}
#logo {
	position: fixed;
	left: 5%;
	top: 7%;
	width: 75px;
}
#leftArrow {
	position: fixed;
	width: 1%;
	transform: rotate(90deg);
	left: 2%;
}
#rightArrow {
	position: fixed;
	width: 1%;
	transform: rotate(-90deg);
	right: 2%;
}
#bottomArrow {
	position: fixed;
	width: 1%;
	right: 50%;
	bottom: 7%;
}
#insideContent {
	position: absolute;
	width: 45%;
	text-align: center;
	right: 40%;
}
#profile {
	position: absolute;
	width: 300px;
	height: 400px;
	top: -10%;
	left: 110%;
	font-size: 30px;
}
#slogan {
	margin-top: 15px;
}
#resumeButton {
	border: 1px solid#252525;
	font-size: 14px;
	padding: 7px 25px;
	background-color: Transparent;
}
#hexagons {
	display: flex;
    align-items: center;
}

.hexagon {
	width: 300px;
}
#intro1 {
	font-size: 36px;
}
#name {
	font-weight: 600;
}
#intro2 {
	font-size: 22px;
}
.subtitle {
	font-size: 16px;
}
.description {
	font-size: 12px;
}
.links {
	position: absolute;
	color: black;
	font-family: "RobotoMono";
	font-size: 15px;
	width: 10%;
	text-align: center;
}
.links:hover {
	color: #000000;
}
#other {
	left: 2%;
	margin-top: -0.5%;
	transform: rotate(-90deg);
}
#projects {
	bottom: 11%;
	width: 15%;
	margin-left: 42.5%;
}
#work {
	transform: rotate(90deg);
	right: 2%;
}
@media only screen and (max-width: 1100px) {
	html, body {
	 	overflow: hidden;
	 	font-family: "Avenir", sans-serif;
	 	position: relative;
	 	display: block;
	 	margin-left: auto;
	 	margin-right: auto;
	}
	#slogan {
		display: none;
	}
	#insideContent {
		overflow: scroll;
		position: absolute;
		display: block;
		width: 70%;
		height: 66%;
		left: auto;
		right: auto;
		margin-left: 15%;
	}
	#profile {
		position: static;
		align-items: center;
		height: 300px;
		font-size: 30px;
		margin-left: auto;
		margin-right: auto;
	}
	#border {
		width: 85%;
		height: 75%;
		display: block;
	  	margin-left: auto;
	  	margin-right: auto;
	}
	#resumeButton {
		border: 1px solid #252525;
		font-size: 14px;
		padding: 7px 25px;
		background-color: Transparent;
	}
	#hexagons {
		display: flex;
	    align-items: center;
	}

	.hexagon {
		width: 300px;
	}
	#intro1 {
		font-size: 36px;
	}
	#name {
		font-weight: 600;
	}
	#intro2 {
		font-size: 22px;
	}
	.subtitle {
		font-size: 16px;
	}
	.description {
		font-size: 12px;
	}
	.links {
		position: absolute;
		color: black;
		font-family: "RobotoMono";
		font-size: 15px;
		width: 10%;
		text-align: center;
	}
	#other {
		left: 2%;
		margin-top: -0.5%;
		transform: rotate(-90deg);
	}
	#projects {
		bottom: 11%;
		width: 15%;
		margin-left: 42.5%;
	}
	#work {
		transform: rotate(90deg);
		right: 2%;
	}


}

@media only screen and (max-width: 500px) {
	#intro1 {
		font-size: 28px;
	}
	#intro2 {
		font-size: 15px;
	}
	
}

/*


*/